/* ------------------------------- default --------------------------------- */

.select {
    width: auto;
    float: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bottom {
    position: absolute;
    bottom: 50px;
    left: 15px;
    right: 15px;
}

.bold {
    font-weight: bold !important;
}
/* ------------------------------- header/footer --------------------------------- */

.header-text {
    color: #34c3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: small;
}

.footer {
    font-size: x-small;
    padding-left: 10px;
}
/* ------------------------------- navigation --------------------------------- */

.nav-example .ui-btn .ui-icon {
    width: 48px !important;
    height: 48px !important;
    margin-left: -22px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.nav-example .ui-btn .ui-btn-inner {
    padding-top: 30px !important;
    padding-left: 5px !important;
}

/* change navigation icon position */
#home .ui-icon, #chat .ui-icon, #contact .ui-icon, #settings .ui-icon, #group .ui-icon {
    margin-top: -12px !important;
}

/* change height of navigation buttons */
.nav-example ul #home, #chat, #settings, #contact, #group {
    height: 50px !important;
}

/* custom icons for the navigation */
#home .ui-icon, #chat .ui-icon, #contact .ui-icon, #settings .ui-icon, #group .ui-icon  {
    background: url(../images/icons-white.png) no-repeat;
}

#home .ui-icon {
    background-position: -96px -240px;
}

#chat .ui-icon {
    background-position: -384px 0;
}

#contact .ui-icon {
    background-position: 0px -528px;
}

#group .ui-icon {
    background-position: -48px -528px;
}

#settings .ui-icon {
    background-position: -384px -48px;
}

#custom-grid {
    padding-right:27px;
}

#custom-grid .ui-block-a {
    width: 97% !important;
}

#custom-grid .ui-block-b {
    width: 3% !important;
}

.ui-btn-icon-notext {
    width: 28px !important;
    height: 28px !important;
}

.ui-grid-a .ui-btn {
    margin-top: 0;
}

.ui-btn-icon-notext .ui-btn-inner {
    padding: 2px !important;
}
/* ------------------------------- lists --------------------------------- */

.ui-li-aside {
    width: auto !important;
}

span.button {
    position:absolute !important;
    right:2px !important;
    margin-top:-50px !important;
    width: auto !important;
}

div .button {
    font-size: 12.5px !important;
}

/*Buttons in einer Liste auf der rechten Seite anders ausrichten*/
.ui-li-aside.button {
    position:absolute !important;
    right:2px !important;
    margin-top:-7px !important;
}
/* ------------------------------- chat --------------------------------- */
.msgContainerDiv {
    overflow-y: scroll;
    overflow-wrap: break-word;
    /*max-width: 320px;*/
    /*height:300px*/
    position: absolute;
    right: 15px;
    left: 15px;
    top: 95px;
    bottom: 155px;
    }

.message {
    padding: 5px 5px 5px 5px;
}

.username {
    font-weight: bold;
    color: #34c3ff;
}
/* ------------------------------- start page --------------------------------- */

/*Elemente auf der Startpage beginnen sofort nach der Navigation*/
.startPage {
    margin-top: -35px !important;
}

/* ------------------------------- popup --------------------------------- */

/*Schwarzes Overlay bei Popups*/
div.ui-overlay-e {
    background: #000000 !important;
}

/*Deckkraft des Overlays*/
.ui-popup-screen.in {
    opacity: 0.8 !important;
    filter:Alpha(Opacity=80);
}

/* ------------------------------- form --------------------------------- */

/*Elemente in einem Form auf der rechten Seite darstellen*/
.onFormRight {
    float:right;
}

/*Darstellung für Fehlernachrichten in einem Form*/
label.error {
    float: left;
    color: red;
    padding-top: .5em;
    vertical-align: top;
    font-weight:bold
}

/*Länge der Time- und Datebox*/
.ui-input-datebox {
    /*margin: .5em 0;*/
    width: auto !important;
}

/* ------------------------------- sonstiges --------------------------------- */

/*Length-Fix für Selectboxen*/
.ui-field-contain .ui-select {
    width: 100% !important;
}

.collapsibleContacts{
    margin-top: -4px;
}

.delete {
    width:20px;
    margin-top:-5px;
}