.nav-example .ui-btn .ui-icon {
width: 48px!important;
height: 48px!important;
margin-left: -22px !important;
box-shadow: none!important;
-moz-box-shadow: none!important;
-webkit-box-shadow: none!important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
}

.nav-example .ui-btn .ui-btn-inner {
padding-top: 30px !important;
padding-left: 5px !important;
}

/*  change navigation icon position */
#home .ui-icon {
     margin-top: -12px !important;
 }
#settings .ui-icon {
     margin-top: -12px !important;
 }
#contact .ui-icon {
     margin-top: -12px !important;
 }
#chat .ui-icon {
      margin-top: -12px !important;
 }

/*  change height of navigation buttons*/
.nav-example ul #home {
     height: 50px !important;
 }
.nav-example ul #chat {
     height: 50px !important;
 }
.nav-example ul #contact {
     height: 50px !important;
 }
.nav-example ul #settings {;
     height: 50px !important;
 }

/* custom icons */
#home .ui-icon {
	background: url(../images/icons-white.png) no-repeat;
	background-position: -96px -240px;
}

#chat .ui-icon {
	background: url(../images/icons-white.png) no-repeat;
	background-position: -384px 0;
}

#contact .ui-icon {
	background: url(../images/icons-white.png) no-repeat;
	background-position: -48px -528px;
}

#settings .ui-icon {
	background: url(../images/icons-white.png) no-repeat;
	background-position: -384px -48px;
}

.header-text {
    color:#34c3ff;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: small;
}

.footer {
    font-size: x-small;
    padding-left:10px;
}

/*p.ui-li-aside {
         !important;
}*/

/*img.scan {
	width:48px;
	height:48px;
	background:url(../images/icons-white.png) 0 -240px;
}*/